Django>=5.0
djangorestframework
django-cors-headers
django-hosts
whitenoise
python-dotenv
psycopg2-binary
celery[redis]
mongoengine
pymongo
PyJWT
requests
imagekitio
imagekitio[aiohttp]
nltk
pdfplumber
pymongo[srv]==3.12
pymongo-amplidata