{% extends "../core/base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="text-center">QR Code Generator</h1>
                <div class="input-group mb-3">
                    <label for="text-input">Enter any text: </label><input id="text-input" type="text"
                                                                           class="form-control"
                                                                           oninput="generateQRCode()"
                                                                           placeholder="Enter text here"/>

                </div>
                <div id="qrcode" class="d-flex justify-content-center"></div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <script>
        function generateQRCode() {
            let text = document.getElementById("text-input").value;
            document.getElementById("qrcode").innerHTML = "";
            let qrcode = new QRCode(document.getElementById("qrcode"), {
                text: text,
                width: 128,
                height: 128
            });
        }
    </script>

{% endblock scripts %}