.df-block {
  --block-padding: 2pt;
  padding: 2em;
  line-height: 3ch;
  backdrop-filter: blur(4pt);
  position: relative;
}

.df-block::after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  color: var(--bs-primary);
  padding: 0 1ch;
  translate: 0 -50%;
}

.df-block::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--bs-primary);
  z-index: -1;
  clip-path: polygon(
                  2em 0,
                  0 0,
                  0 100%,
                  100% 100%,
                  100% 0,
                  calc(3em + var(--word-length) * 1ch) 0,
                  calc(3em + var(--word-length) * 1ch) var(--block-padding),
                  calc(100% - var(--block-padding)) var(--block-padding),
                  calc(100% - var(--block-padding)) calc(100% - var(--block-padding)),
                  var(--block-padding) calc(100% - var(--block-padding)),
                  var(--block-padding) var(--block-padding),
                  2em var(--block-padding));
}